cache/
temp/
rootfs/

*.ext4
*.ext4*

*.img
*.img*

mars*/
edison/
licheerv/
binary/
rk-vendor/
merged/
diff/
work/

linux/
boot-img/
initrd/
boot/
firmware/
modules/
origin*/

ub-*/
fd-*/
suse-*/
suse/
gentoo*/
arch/
alpine*/

fstab
*.scr
*.scr.bak
*.script